<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agenda | <%= title %></title>
  <!-- <link rel="stylesheet" href="./assets/css/style.css"> -->
   <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

  <nav class="navbar">
    <h1 class="logo">Agenda</h1>
    <ul class="links">


      <% if (user) {%>
        <li class="link"><a class="cadastro">Cadastrar Contato</a></li>
        <li class="link"><a href="/login/logout">Sair</a></li>
      <% } else { %>
        <li class="link"><a href="/login/">Entrar</a></li>
      <% } %>
    </ul>
  </nav>