<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>teste</title>
  <!-- <link rel="stylesheet" href="./assets/css/style.css"> -->
   <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

  <nav class="navbar">
    <h1 class="logo">Agenda</h1>
    <ul class="links">
      <li class="link"><a href="/login/index">Sair</a></li>
    </ul>
  </nav>