<%- include('includes/head'); %>

    <div class="container">
      <div class="box-titulo">
        <h1 class="titulo">Agenda</h1>
        <p>Seus Contatos estão abaixo</p>
      </div>

     <%- include('includes/messages'); %>

        <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Número</th>
            <th>Email</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
      
        </tbody>
      </table>
    </div>

<%- include('includes/footer'); %>